.block_1 {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 30%;
    /* gap: 30px; */
    padding-bottom: 50px;
}

.block_2 {
    /* display: flex; */
    display: grid;
    grid-template-columns: 30% 1fr;
    /* gap: 30px; */
}

.AboutUsInMain{
    margin: 70px 1.5rem 0;

}

.AboutUsInMain .picture {
    width: 100%;
}

.text {
    align-self: flex-start;
    padding: 3rem;
    background-color: #a2adfe33;
    /* border: 1px solid black; */
    border-radius: 8px;
    font-size: 22px;
    color: black;
}

.text h1{
    margin-bottom: 20px;
    font-size: 40px;
}

.text .button{
    text-align: end;
    padding-top: 20px;
}


@media (max-width: 500px) {
    .text{
        font-size: 15px;
        padding: 1rem;
    }

    .text h1{
        font-size: 17px;
    }
    .block_1, .block_2{
        display: block;
    }

    

    .AboutUsInMain img{
        width: 100%;
        margin-bottom: 30px;
    }
}

/* ---------page---------------- */


.AboutUs .s1{
    background-color: var(--alice-blue);
    padding: 10rem 5rem 3rem;
    display: flex;
}



.AboutUs .s2{
    background-color: var(--frosted-mind);
    padding: 2rem 5rem 5rem;
}


.AboutUs .title{
    font-size: 35px !important;
}

.s1 .big_text div, .s2 .big_text div{
    padding-left: 20px;
    font-size: 24px;
}

.block1, .block2, .block3, .block4, .block5, .block6{
    padding: 40px 60px;
    border-radius: 6px;
    background-color: white;
}

.block1 h3, .block2 h3, .block3 h3, .block4 h3, .block5 h3, .block6 h3{
    padding-bottom: 30px;
}

.block1, .block3, .block5{
    margin-right: 300px;
    margin-bottom: 30px;
}

.block2, .block4, .block6{
    margin-left: 300px;
    margin-bottom: 30px;
}

@media (max-width: 500px) {
    .AboutUs .title{
    font-size: 20px !important;
}
    .AboutUs .s2, .AboutUs .s1{
        padding: 7rem 1.5rem 5rem;
    }
    .block1, .block3, .block5{
        margin-right: 0px;
    }
    .block2, .block4, .block6{
        margin-left: 0px;
    }

    .s1 .big_text div, .s2 .big_text div{
        font-size: 15px;
    }

}
