.ConsultInMain{
    margin: 150px 5rem 0;
}

.block {
    /* display: flex; */
    display: grid;
    grid-template-columns: min-content 30px 20%;
    justify-content: center;
    /* gap: 30px; */
}

.arrow1{
    width: 30px;
    transform: translateX(-6px);
}

.arrow2{
    transform: rotate(90deg) translate(2px, -8px);
}

.ConsultInMain{
    margin: 150px 5rem 0;
}

.ConsultInMain .picture {
    width: 100%;
}

.text {
    align-self: flex-start;
    padding: 3rem;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 8px;
}

.text h1{
    margin-bottom: 20px;
}

.text .button{
    text-align: end;
    padding-top: 20px;
}