.ConsultInMain{
    margin: 150px 5rem 0;
}

.ConsultInMain .picture{
    transform: translateY(-40px);
}

.block {
    /* display: flex; */
    display: grid;
    /* grid-template-columns: 250px 30px 20%; */
    grid-template-columns: 375px 20%;
    justify-content: center;
    /* gap: 30px; */
}

.arrow1{
    width: 30px;
    transform: translateX(-6px);
}

.arrow2{
    transform: rotate(90deg) translate(2px, -8px);
}

.ConsultInMain{
    margin: 75px 5rem 0;
}

.ConsultInMain .picture {
    width: 100%;
}

.text {
    align-self: flex-start;
    padding: 3rem;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 8px;
    font-size: 20px;
}

.text h1{
    margin-bottom: 20px;
}

.text .buttons{
    display: flex;
    margin-top: 30px;
    gap: 20px;
    height: 40px;
}