.CoursesInMain{
    margin: 75px 5rem 75px;
}

.CoursesInMain section{
    background-color: white;
    border-radius: 6px;
    padding: 3rem;
}

.s1{
    margin-right: 30%;
    margin-bottom: 10px;
}

.s2{
    margin-left: 30%;
}

.CoursesInMain section h1{
    padding-bottom: 20px;
}

.button{
    margin-top: 30px;
    text-align: end;
}

.classes{
    text-decoration: underline;
    font-size: 1.5rem;
    margin: 0 20px;
    cursor: pointer;
}