.CoursesInMain{
    padding: 75px 5rem 75px;
    background-color: #a2adfe33;
}

.CoursesInMain section{
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 3rem;

}

.s1{
    margin-right: 30%;
    margin-bottom: 40px;
    font-size: 20px;
    background-color: var(--alice-blue);
}

.s1 section{
    display: flex;
    align-items: center;
    gap: 40px;
}

.s2{
    margin-left: 30%;
    font-size: 20px;
    background-color: var(--alice-blue);
}

.CoursesInMain section h1{
    padding-bottom: 20px;
}

.button{
    margin-top: 30px;
    text-align: end;
}

.classes{
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    font-weight: 800;
}

@media (max-width: 500px) {
    .CoursesInMain section{
        padding: 1.5rem;
    }
    .CoursesInMain{
        padding: 1rem;

    }
    .s1{
        margin-right: 0.5rem;
        display: block;
    }
    .s2{
        margin-left: 0.5rem;
        display: block;
    }
    .s1 p, .s2 p{
        font-size: 15px;
    }
    .s1 h1, .s1 section, .s2 h1, .s2 section{
        font-size: 17px;
    }
    .classes{
        width: auto;
    }
    .teacher_in_main{
        margin: 3rem 1.5rem;
    }
}