.CoursesInMain{
    padding: 75px 5rem 75px;
    background-color: #a2adfe33;
}

.CoursesInMain section{
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 3rem;

}

.s1{
    margin-right: 30%;
    margin-bottom: 40px;
    font-size: 20px;
    background-color: var(--alice-blue);
}

.s1 section{
    display: flex;
    align-items: center;
    gap: 40px;
}

.s2{
    margin-left: 30%;
    font-size: 20px;
    background-color: var(--alice-blue);
}

.CoursesInMain section h1{
    padding-bottom: 20px;
}

.button{
    margin-top: 30px;
    text-align: end;
}

.classes{
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    font-weight: 800;
}