.GetContacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.GetContacts h1 {
    margin-bottom: 20px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body input {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background-color: white;
}

.body h4 {
    margin-bottom: 15px;
}

.choose {
    display: flex;
    gap: 20px;
    margin: 15px;
}

.choose p {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 5px;
}



@media (max-width: 500px) {
    .GetContacts {
        font-size: 15px;
    }
    .body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    .choose{
        flex-wrap: wrap;
        width: 80%;
        margin: 15px 0;
    }
}
