nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    /* position: fixed; */
    /* z-index: 1; */
    /* background-color: white; */
    /* width: 100%; */
}

/* scroll */
.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.navbar__hidden {
  transform: translateY(-100%);
}

.navbar__visible {
  transform: translateY(0);
}


.left{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 30px;
    font-weight: 600;
}

.head .left svg, .window svg{
    cursor: pointer;
}

.right{
    display: flex;
    gap: 40px;
}

.back_window{
    position: fixed;
    inset: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.633);
}

.window{
    width: 25%;
    height: 100vh;
    background-color: white;
}

.window section{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}