.head {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.logoName {
    display: flex;
    align-items: center;
}

.head h1 {
    margin-left: 20px;
}

.navbar {
    align-items: center;
    display: flex;
    gap: 40px;
    margin-right: 80px;
    font-size: 16px;
}

.head svg {
    margin: 5px;
}

.window {
    z-index: 2;
    inset: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.59);
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.window main {
    animation: fall 0.1s linear;
    background-color: white;
    width: 100%;
    text-align: center;
}

.navbarMobile {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.link {
    position: relative;
    cursor: pointer;
}

.link::after {
    width: 0;
    transition: 0.3s;
    position: absolute;
    content: "";
    left: 0;
    top: 20px;
    height: 1px;
    background: #000;
}
.link:hover:after {
    width: 100%;
}
