nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    /* position: fixed; */
    /* z-index: 1; */
    /* background-color: white; */
    /* width: 100%; */
}

/* scroll */
.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  /* background-color: #ffffff; */
  /* background-color: rgb(207, 121, 121); */
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.navbar__hidden {
  transform: translateY(-100%);
}

.navbar__visible {
  transform: translateY(0);
}


.left{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 30px;
    font-weight: 600;
}

.head .left svg, .window svg{
    cursor: pointer;
}



.right{
    display: flex;
    font-size: 19px;
    gap: 40px;
    margin-right: 40px;
}

.back_window{
    position: fixed;
    inset: 0;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.633);
    animation: MoveRight 0.2s linear;
}

@keyframes MoveRight {
    0% { left: -25%; }
    100% { left: 0; }
}

.window{
    width: 25%;
    height: 200vh;
    background-color: white;
}


.window section{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 20px;
}

.link {
    position: relative;
    cursor: pointer;
}

.link::after {
    width: 0;
    transition: 0.3s;
    position: absolute;
    content: "";
    left: 0;
    top: 20px;
    height: 1px;
    background: #000;
}
.link:hover:after {
    width: 100%;
}
