* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

body {
    font-family: -apple-system, "Montserrat", sans-serif;
    background: var(--light-bg);
}

:root {
    --primary-color: #4f46e5;
    --primary-dark: #4338ca;
    --secondary-color: #10b981;
    --text-color: #1f2937;
    --light-bg: #f9fafb;
    --border-color: #e5e7eb;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/static/Montserrat-Black.ttf") format("ttf"),
        url("./fonts/static/Montserrat-Italic.ttf") format("ttf");
    /* url('../style/fonts/Montserrat-Light.ttf') format('ttf'); */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
}
.btn-secondary {
    background-color: white;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 6px;
    padding: 20px;
    text-align: center;
}
