.Intensive{
    background-color: var(--alice-blue);
    padding: 90px 5rem 3rem;
}

.title{
    font-size: 35px;
    font-weight: 900;
}

.block1{
    width: 50%;
    background-color: #a2adfe33;
    padding: 3rem;
    font-size: 20px;
    border-radius: 6px;
    margin-top: 3rem;
}

.block1 h2{
    margin-bottom: 20px;
}

.button{
    margin-top: 30px;
    text-align: right;
    font-style: normal;
}

.info{
    margin: 20px 0;
    font-style: italic;
    /* des */
}

@media (max-width: 500px) {
    .Intensive{
        padding: 90px 1rem 3rem;
    }
    .title{
        font-size: 25px;
    }
    .block1{
        font-size: 15px;
        width: auto;
    }
}