.main {
    background-color: var(--alice-blue);
    padding-bottom: 100px;
    padding-top: 70px;
    overflow-x: hidden;
}

.main hr {
    border: none;
    height: 2px;
    color: #333; 
    background-color: #333; 
}



.title p{
    /* position: absolute; */
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 360px;
    color: white;
    margin: 0 5rem;
}

.title .desc{
    position: absolute;
    width: 100%;
    transform: translateY(250px);
    font-size: 25px;
    font-family: "Luxury";
    text-align: center;
}

/* .title p{
    transform: translateY(30vh);
    width: 50%;
    padding: 3rem;
    font-size: 17px;
    border-radius: 6px;

} */
