.main {
    background-color: var(--alice-blue);
    padding-bottom: 100px;
    padding-top: 70px;
}

.main hr {
    border: none;
    height: 2px;
    color: #333; 
    background-color: #333;
}

.title{
    margin: 0 5rem;
}

.title img{
    width: 100%;
    transform: scaleY(0.8);
}

.title p{
    font-size: 25px;
    font-family: "Luxury";
    border: 8px double black;
    text-align: center;
    padding: 40px 10px;
    background-color: white;
}
