.main{
    background-color: var(--light-bg);
}

.infa{
    padding: 3rem;
    margin: 3rem;
    background: white;
}

.plus h1{
    margin-top: 100px;
    text-align: center;
}

.cards{
    margin: 40px;
    display: grid;
    justify-content: center;
    gap: 30px;

}

.card{
    background: white;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: var(--shadow);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p{
    margin-top: 30px;
}