.main{
    background-color: var(--light-bg);
}

.infa{
    padding: 3rem;
    margin: min(3rem, 25%);
    background: white;
    /* width: max(50%, 300px); */
}

.plus h1{
    margin-top: 100px;
    text-align: center;
}

.cards{
    margin: 40px;
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;

}

.card{
    width: max(30%, 300px);
    background: white;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: var(--shadow);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p{
    margin-top: 30px;
}

.consult{
    margin: 100px 3rem 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px
}

.consult h2{
    text-align: center;
}

.consult p{
    text-align: center;
    color: rgba(0, 0, 0, 0.64);
}

.consult img{
    width: min(500px, 50%);
    border-radius: 6px;
}

.courses{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
