.main {
    background-color: var(--alice-blue);
    padding-bottom: 100px;
    padding-top: 70px;
    overflow-x: hidden;
}

.main hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
}

.title{
    text-align: center;
}

.title p {
    /* position: absolute; */
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 360px;
    color: #cee1ea;
    margin: 0 5rem;
    /* font-weight: 800; */
}

.title .desc {
    position: absolute;
    width: 100%;
    /* bottom: 0; */
    transform: translateY(344px);
    font-size: 30px;
    /* font-family: "Luxury"; */
    text-align: center;
    font-weight: 700;
}
.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 10rem;
    z-index: -2;
}
.button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #a2adfe33;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
.button:hover {
    color: #fff;
}
.button:hover:before {
    width: 100%;
}

@media (max-width: 500px) {
    .title p{
        font-size: 110px;
    }

    .button{
        font-size: 12px;
    }

    .title .desc{
        transform: translateY(0);
        font-size: 10px;
    }
}