.MMO {
    padding: 150px 5rem 3rem;
    background-color: var(--alice-blue);
}

.title_main {
    font-size: 35px;
    font-weight: 900;
}

.block1,
.block2 {
    display: grid;
    /* width: 500px; */
    background-color: #a2adfe33;
    padding: 3rem;
    font-size: 25px;
    border-radius: 6px;
}

.s1{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}


.s2{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}
.s1 img, .s2 img{
    width: 100%;
}

.block1 {
    margin-top: 8rem;
}

.block2 {
    margin-top: 3rem;
}

.block1 h2,
.block2 h2 {
    margin-bottom: 20px;
}

.MMO h1 {
    margin: 100px 0 50px;
    text-align: center;
}

.card {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 70px 10px 70px;
    border-radius: 6px;
}

.card:hover {
    transform: scale(1.05);
}

.card p {
    width: 20vw;
    text-align: center;
}

.card h3 {
    font-weight: 900;
    margin-top: 30px;
}

.cards {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 70px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 25%;
}

.info .title {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 1rem;
    border: 1px solid black;
}

.info .text {
    background-color: white;
    width: 100%;
    padding: 1rem;
    border: 1px solid black;
    font-size: 17px;
}

.DropDowns{
    padding-bottom: 100px;
}

.question{
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

@media (max-width: 500px) {
    .MMO {
        padding: 150px 1rem 3rem;
    }
    .title_main {
        font-size: 22px;
    }

    .block1,
    .block2 {
        font-size: 15px;
    }
    .block1 h2,
    .block2 h2 {
        font-size: 17px;
    }
    .block1 {
        margin-top: 70px;
    }
    .MMO h1 {
        font-size: 22px;
    }
    .card {
        padding: 20px 80px;
    }
    .card p {
        width: auto;
        text-align: center;
    }
    .info .title{
        font-size: 15px;
    }
    .s1, .s2{
        display: block;
    }
}
