.Teachers{
    background-color: var(--alice-blue);
    padding: calc(70px + 1rem) 3rem 2rem 3rem;

}

.block{
    background-color: white;
    border-radius: 6px;
    padding: 3rem;
    margin-right: 10rem;
}

.block h2{
    margin-bottom: 20px;
}

.title{
    margin-top: 70px;
}

.card{
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 30px 10px;
    border-radius: 6px;
}

.card p{
    width: 15vw;
    text-align: center;
}

.cards{
    display: flex;
    /* width: 100%; */
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}