.block_1 {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 30px 20%;
    /* gap: 30px; */
    padding-bottom: 50px;
}

.block_2 {
    /* display: flex; */
    display: grid;
    grid-template-columns: 20% 30px 1fr;
    /* gap: 30px; */
}

.arrow1{
    width: 30px;
    transform: translateX(-6px);
}

.arrow2{
    transform: rotate(90deg) translate(2px, -8px);
}

.teacher_in_main{
    margin: 150px 5rem 0;
}

.teacher_in_main .picture {
    width: 100%;
}

.text {
    align-self: flex-start;
    padding: 3rem;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 8px;
}

.text h1{
    margin-bottom: 20px;
}

.text .button{
    text-align: end;
    padding-top: 20px;
}