.Teachers{
    background-color: var(--alice-blue);
    padding: calc(70px + 1rem) 3rem 2rem 3rem;

}

.block{
    background-color: white;
    border-radius: 6px;
    padding: 3rem;
    margin-right: 30%;
    background-color: #a2adfe33;
    font-size: 20px;
}

.block h2{
    margin-bottom: 40px;
}

.title{
    margin-top: 70px;
}

.card{
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 50px 10px 30px;
    border-radius: 6px;
}

.card:hover{
    transform: scale(1.05);
}

.card p{
    width: 15vw;
    text-align: center;
}

.card h3{
    font-weight: 900;
    margin-top: 30px;
}

.cards{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
        .card {
        padding: 20px 40px;
    }
    .card p {
        width: auto;
        text-align: center;
    }
    .Teachers{
        padding: calc(70px + 1rem) 1rem 3rem 1.5rem;
    }
    .block{
        font-size: 15px;
        margin-right: 40px;
    }
    .block h2{
        font-size: 17px;
        margin-bottom: 10px;
    }
    .cards{
        margin: inherit 1rem;
    }
}