.block_2 {
    /* display: flex; */
    display: grid;
    grid-template-columns: 30% 1fr;
    /* gap: 30px; */
    font-size: 22px;
}

.arrow1{
    width: 30px;
    transform: translateX(-6px);
}

.arrow2{
    transform: rotate(90deg) translate(2px, -8px);
}

.teacher_in_main{
    margin: 150px 3rem 75px 0;
}

.teacher_in_main .picture {
    width: 100%;
}

.text {
    align-self: flex-start;
    padding: 3rem;
    background-color: #a2adfe33;
    /* border: 1px solid black; */
    border-radius: 8px;
}

.text h1{
    margin-bottom: 20px;
}

.text .button{
    text-align: end;
    padding-top: 20px;
}

@media (max-width: 500px) {
    .block_2{
        display: block;
    }
    .text{
        font-size: 15px;
    }
    .text h1{
        font-size: 17px;
    }
    .teacher_in_main{
        margin: 3rem 1.5rem;
    }
}